.container{
    width:100%;
    height: 79px;
    background: var(--peppermart-orange); 
}

.navBarMenu{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color:var(--dark100)
}

.navBarMenu > .vendors > li{
    margin: 0;
    margin-right: 20px;
}

.vendors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vendors > li{
    margin-right: 35px;
}

.vendors > li > a{
   font-size: 14px;
   font-weight: 400;
   text-transform: capitalize;
   color: var(--peppermart-dark500);
   font-weight: bold;
} 

.navBarMenu__items{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarMenuIcon{
    cursor: pointer;
}

.navBarMenu__items > li{
    margin-right: 35px;
}

.navBarMenu__items > li > a{
   font-size: 14px;
   font-weight: 400;
   text-transform: capitalize;
   color: var(--peppermart-dark500);
   font-weight: bold;
} 

.navBarMenu__cta{
    width: 189px;
    height: 48px;
    background-color: var(--titaniumOrange);
    border-radius: 30px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

/* categories toggler and dropdown menu */
.categoriesToggler{
    position: relative;
} 

.categoryBtn{
  padding:10px 20px;
  width:100%;
  color:var(--light);
  background-color: var(--peppermart-dark500);
  font-weight: bold;
  cursor: pointer;
}

.sideBarToggler{
    display: none;
    font-size: 30px;
    cursor: pointer;
}



  @media (max-width:1350px){
    .navBarMenu__items > li{
       margin-right: 15px;
   }
}

@media (max-width:1120px){
     .navBarMenu{
        width: 90%;
     }
     .navBarMenu__items > li{
        margin-right: 15px;
    } 
}

@media (max-width:920px){
    .navBarMenu .navBarMenu__items{
    display: none;
} 

    .categoriesToggler{
        display: none;
    } 

    .sideBarToggler{
        display: block;
    }
    
}
@media (max-width:500px){
 

}