.messages {
  display: flex;
  height: 85vh;
  font-family: "Inter";
  max-width: 75vw;
}

/* left column */
.messages__left {
  flex: 1;
}

.conversations {
  display: flex;
  justify-content: flex-start;
}

.conversations p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark300);
}

.contact {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  background: #ffffff;
  box-shadow: 1.71218px 0.856089px 3.42435px rgba(0, 0, 0, 0.08),
    0.856089px 1.71218px 3.42435px rgba(0, 0, 0, 0.08);
  border-radius: 10.2731px;
  margin: 30px 15px 0 15px;
  overflow: hidden;
}

.contact .container {
  padding: 0.4rem;
}

.contact .container .contact__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact .container .contact__header span {
  color: var(--dark20);
  font-weight: bold;
}

.search {
  margin-top: 15px;
}

.contactList {
  height: 450px;
  padding: 1rem 0;
  overflow-y: hidden;
}

.contactList:hover {
  overflow-y: auto;
}

.messages__right {
  display: none;
}

.newMessage {
  display: flex;
  justify-content: flex-end;
}

.newMessage button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 16px;
  gap: 10px;
  width: 161px;
  height: 36px;
  background: #1f2b5b;
  border-radius: 4px;
  color: var(--light);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
}

.message {
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: var(--light);
  background: #ffffff;
  box-shadow: 1.71218px 0.856089px 3.42435px rgba(0, 0, 0, 0.08),
    0.856089px 1.71218px 3.42435px rgba(0, 0, 0, 0.08);
  border-radius: 10.2731px;
  margin: 15px 0;
  padding: 1rem;
}

/* tablet': '640px */
@media (min-width: 640px) {
  .contact .container {
    padding: 1rem;
  }
}

@media (min-width: 768px) {}

/* 'laptop': '1024px' */
@media (min-width: 1024px) {
  .messages {
    max-width: 100vw;
  }

  /* right column */
  .messages__right {
    display: block;
    flex: 3;
  }

  .contact {
    width: 20vw;
  }
}

/* 'desktop': '1280px', */
@media (min-width: 1280px) {}

@media (min-width: 1536px) {}